<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-outline-primary addbutton" (click)="agregar()">Agregar proveedor</button>
        </div>
    </div>
    <div class="row">
        <div class="col-4" *ngFor="let aux of proveedores">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">{{aux.empresa}}</h5>
                    <p class="card-subtitle mb-1 text-muted">Teléfono: {{aux.telefono}}</p>
                    <p class="card-subtitle mb-1 text-muted"></p>
                </div>
            </div>
        </div>
    </div>
</div>

