<div class="container-fluid">
    <div class="row">
        <div class="col-3" *ngFor="let aux of inventario">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">{{aux.materia | uppercase}}</h5>
                    <p class="card-subtitle mb-1 text-muted">Stock: {{aux.cantidad}}</p>
                    <p class="card-subtitle mb-1 text-muted">Caducidad: {{aux.fechaCaducidad}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

