<div class="container-fluid" id="body">
    <div class="d-flex justify-content-center" id="contenedorLogin">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="https://scontent.fgdl10-1.fna.fbcdn.net/v/t1.18169-9/26904537_360314717771178_3515511084721304588_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=f9iyM5gmxccAX-TNxyR&_nc_ht=scontent.fgdl10-1.fna&oh=00_AT-hoiG4BXi6OBvquWGY_MVSrIql84D6svmGR4_EWdivLg&oe=63076427"
                        class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text" id="icono"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="" class="form-control input_user" value="" placeholder="Nombre de usuario" #user>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text" id="icono"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="" class="form-control input_pass" value="" placeholder="Contraseña" #pass>
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="button" name="button" class="btn login_btn" (click)="navegar(user,pass)">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>